.nosotros{
    margin: 0 auto;
    padding: 8rem 6rem;
   z-index: 10;
}

/********** Grid **********/

.grid-nos{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
}

/********** Grid 1 Texto **********/

.nos1{
max-width: 70%;
}

.nos1 h2{
    color: #0c4e6e;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
    font-family: "Montserrat", sans-serif;
}

.nos1 p{
    color: #666D80;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}


/********** Grid 2 **********/

.nos2{
    background-color: #0C4E6E;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
}

.nos2 div{
    padding: 3rem 2rem;
}
.nos2-1, .nos2-4{
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nos2-2 h3, .nos2-3 h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.nos2-2 p, .nos2-3 p{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.nos2-1 h3, .nos2-4 h3{
    color: #0c4e6e;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.nos2-1 p, .nos2-4 p{
    color: #666D80;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}